<% @posts.each do |post| %>
  <div class="media-content">
    <div class="content">
      <strong><%= post.author %></strong><br />
      <strong><%= post.title %></strong/<br />
      <strong><%= post.body %></strong><br/>
    </div>
  </div>
<% end %> 
